1.Absolute Maximum Scaling
range to -1 to 1

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv('employee_salary.csv')

df.select_dtypes(include= np.number)

df.head()

  EmployeeID  Experience   Age Education_Level Department   Salary
0       E001         1.0  22.0        Bachelor      Sales  25000.0
1       E002         3.0  25.0         Diploma  Marketing  30000.0
2       E003         5.0  28.0          Master      Sales  42000.0
3       E004         7.0  35.0        Bachelor         IT  52000.0
4       E005        10.0  40.0          Master         HR  60000.0

In [5]:
# Performing Absolute Maximum Scaling
# max_abs = np.max(np.abs(df), axis=0)

# scaled_df = df / max_abs
# scaled_df.head()