1.Absolute Maximum Scaling
range to -1 to 1

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('employee_salary.csv')

df.select_dtypes(include= np.number)

df.head()

  EmployeeID  Experience   Age Education_Level Department   Salary
0       E001         1.0  22.0        Bachelor      Sales  25000.0
1       E002         3.0  25.0         Diploma  Marketing  30000.0
2       E003         5.0  28.0          Master      Sales  42000.0
3       E004         7.0  35.0        Bachelor         IT  52000.0
4       E005        10.0  40.0          Master         HR  60000.0

In [ ]:
# Performing Absolute Maximum Scaling
max_abs = np.max(np.abs(df), axis=0)

scaled_df = df / max_abs
scaled_df.head()

Min-Max Scaler

In [11]:
df['Department'].unique()

# df.info()

#check dublicate
df.duplicated()


# remove unusless columns
df2 =df.drop(columns=['EmployeeID'])
df2.head()

   Experience   Age Education_Level Department   Salary
0         1.0  22.0        Bachelor      Sales  25000.0
1         3.0  25.0         Diploma  Marketing  30000.0
2         5.0  28.0          Master      Sales  42000.0
3         7.0  35.0        Bachelor         IT  52000.0
4        10.0  40.0          Master         HR  60000.0

In [14]:
# count missing values
df2.isnull().sum()

Experience         4
Age                4
Education_Level    4
Department         4
Salary             3
dtype: int64

In [16]:
#drop missing value
df3 = df2.dropna()
df3.isnull().sum()

Experience         0
Age                0
Education_Level    0
Department         0
Salary             0
dtype: int64

In [4]:
from sklearn.preprocessing import  MinMaxScaler

scaled = MinMaxScaler()
scaled.fit_transform(df)

scaled_df = pd.DataFrame(scaled, columns=df.columns)
print(scaled_df.head())

ValueError: could not convert string to float: 'E001'